.new-feature-animation-line {
	display: block;
	position: absolute;
	height: 20px;
	width: 0px;
	border: 2px solid #FDD835;
	border-radius: 4px;
	animation: new-feature-animation 3s infinite;
}

.new-feature-animation-line.left {
	left: -22px;
}

.new-feature-animation-line.top {
	top: -28px;
}

.new-feature-animation-line.right {
	right: -22px;
}

.new-feature-animation-line.bottom {
	bottom: -28px;	
}

@keyframes new-feature-animation {
	0% {height:20px; border-color: #FDD835;}
	50% {height:25px; border-color: #FFF176;}
}